body {
  background-color: black;
  color: #a7a7a7;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-transform: uppercase;
  color: white;
}

h3 {
text-transform: uppercase;
color: #9e0504;
}

p {
  font-family: 'Raleway', sans-serif;
}

em {
  font-style: normal;
  color: #9e0504;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.fixed_header,
.introduction,
.projects,
.contacts {
  margin-bottom: 1em;
}

/*header*/

header {
  position: sticky;
  background-color: black;
  top: 0;
  z-index: 1;
  text-align: center;
  opacity: 0.9;
}

.main_title {
  color: white;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

/* introduction */

#description_title {
  text-align: right;
  margin-top: 0;
}

.description p {
  width: 90%;
}

.main_pic figcaption a {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

.main_pic figcaption {
  position: absolute;
  display: block;
  width: 90%;
  font-size: 10px;
  text-align: left;
  bottom: 5%;
  left: 5%;
}

figure {
  position: relative;
}

/*projects*/

.projects_pic figcaption {
  position: absolute;
  display: block;
  width: 100%;
  text-align: left;
}

.projects {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}



/* footer */

.contact_icon {
  display: none;
}

footer a {
  text-decoration: underline;
  color: #9e0504;
  margin-top: 0.75em;
}

#phone_number {
  color: white;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}
